@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap');

/*
font-family: 'Heebo', sans-serif;
font-family: 'Lobster', cursive;
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    font-family: "Heebo", sans-serif;
}
.landing{
    height: 100vh;
    width: 100%;
    background-color: rgb(233, 233, 233);
    background-size: cover;
    background-position: center;
}
nav{
    height: 10vh;
    width: 100%;
    padding-right: 2em;
}
.nav-links{
    display: flex;
    list-style: none;
    width: 40%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: rgb(61, 61, 61);
    text-decoration: none;
    font-size: 2rem;
  }
#logo{
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 4rem;
    margin: 1em;
}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    background: rgb(97,105,109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.intro-text{
    color: rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
}
.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
    font-size: 4rem;
}
@media screen and (max-width:577px){
    .line {
        width: 30px;
        height: 3px;
        background: rgb(243, 243, 243);
        margin: 5px;
      }
    nav{
        position: relative;
        background: rgb(61, 61, 61);
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 100;
    }
    .nav-links{
        position: fixed;
        background: rgb(61, 61, 61);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1.5s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        z-index: 10;
      }
  
      .nav-links li a {
        font-size: 25px;
        color: rgb(0, 0, 0);
      }
      .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
      li.fade {
        opacity: 1;
      }
      #logo{
          font-size: 2rem;
      }
      .big-text{
          font-size: 5rem;
      }
}